In [4]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'fairbet_django.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [15]:
from order_placed.models import *
from payment.models import *
from django_pandas.io import read_frame
from django.db.models import F, Q, When, Value, Case, Sum

In [16]:
df = read_frame(Betting.objects.filter(match="Srilanka vs India"))

In [17]:
df

Empty DataFrame
Columns: [id, user, amount, bet_on_team, status, odds, winning_team, loss_profit, match, created_at, updated_at]
Index: []

In [18]:
# Client.objects.update(account_type=Case(
#     When(registered_on__lte=a_year_ago,
#          then=Value(Client.PLATINUM)),
#     When(registered_on__lte=a_month_ago,
#          then=Value(Client.GOLD)),
#     default=Value(Client.REGULAR)
# ),)

In [19]:
# betting = Betting.objects.filter(match="Srilanka vs India").values('loss_profit')

In [20]:
# bet = betting.annotate(
#     betting_loss_profit=Case(
#         When(
#             status="BACK",
#             then=F("amount")*0.8,
#         ),
#         default = F("loss_profit"),
#         output_field = models.FloatField()
#     )
# )

In [21]:
# Betting.objects.update(
#     loss_profit=Case(
#         When(status="B",
#              match="Srilanka vs India",
#              winning_team = "Not declared yet",
#              then=F("amount")*F("odds") - F("amount")),
#         When(status="L",
#              match="Srilanka vs India",
#              winning_team = "Not declared yet",
#              then=F("amount")* -F("odds") + F("amount")),
#         default=F("loss_profit")
# )
#      )

In [22]:
from order_placed.models import *
from django_pandas.io import read_frame
from django.db.models import F, Q, When, Value, Case, Sum

In [92]:
winningTeam = "England"
matchName = "England vs India"

In [73]:
betting_instance = Betting.objects.filter(
        match = matchName
    ).update(
        loss_profit = Case(
            When(
                status = "B",
                bet_on_team = winningTeam,
                winning_team = winningTeam,
                then = F('amount') * F("odds") - F('amount')),
            When(
                ~Q(bet_on_team = winningTeam),
                status = "B",
                winning_team = winningTeam,
                then = -F('amount')),
             When(
                status = "L",
                bet_on_team = winningTeam,
                winning_team = winningTeam,
                then = F('amount') * - F("odds") + F('amount')),
             When(
                 ~Q(bet_on_team = winningTeam),
                status = "L",
                winning_team = winningTeam,
                then = F('amount')),
            default=F("loss_profit")
            )
        )

In [48]:
get_wallet = read_frame(Betting.objects.all())

In [49]:
get_wallet

,id,user,amount,bet_on_team,status,odds,winning_team,loss_profit,match,created_at,updated_at
0,16,fairbet,1000.0,England,BACK,1.50,England,500.0,England vs India,2022-07-06 06:20:16.207060+00:00,2022-07-06 10:31:52.837866+00:00
1,17,fairbet,1000.0,England,LAY,1.52,England,-520.0,England vs India,2022-07-06 06:23:12.963245+00:00,2022-07-06 10:31:56.493455+00:00
2,21,fairbet,1000.0,India,BACK,1.55,England,-1000.0,England vs India,2022-07-06 10:33:05.626427+00:00,2022-07-06 10:33:31.403796+00:00
3,22,fairbet,1000.0,India,LAY,1.56,England,1000.0,England vs India,2022-07-06 10:33:16.385601+00:00,2022-07-06 10:33:44.568271+00:00

In [56]:
get_wallet['total_loss_or_profit'] = get_wallet.groupby('user')['loss_profit'].transform(lambda x : sum(x))

In [58]:
get_wallet.drop_duplicates(subset=['user'])

,id,user,amount,bet_on_team,status,odds,winning_team,loss_profit,match,created_at,updated_at,total_loss_or_profit
0,16,fairbet,1000.0,England,BACK,1.5,England,500.0,England vs India,2022-07-06 06:20:16.207060+00:00,2022-07-06 10:31:52.837866+00:00,-20.0

In [59]:
Betting.objects.all().annotate(total_sum=Sum("loss_profit"))

In [86]:
df = read_frame(Betting.objects.values("user__id","user_id","user_id__wallet__amount").annotate(loss_or_profit = Sum("loss_profit")))

In [89]:
df['total'] = df['user_id__wallet__amount'] + df['loss_or_profit']

In [90]:
df

   user__id   user_id  user_id__wallet__amount  loss_or_profit    total
0         1   fairbet                   9500.0           -20.0   9480.0
1         5  Minkyaa6                  10000.0             0.0  10000.0

In [85]:
Betting.objects.values("user__id","user_id","user_id__wallet__amount").annotate(total_amount = Sum("loss_profit"))

In [91]:
Betting.objects.filter(match="England vs India").values("user__id","user_id","user_id__wallet__amount").annotate(loss_or_profit = Sum("loss_profit"))

In [97]:
 df = read_frame(Betting.objects.filter(match=matchName,winning_team=winningTeam).values("user__id","user_id","user_id__wallet__amount").annotate(loss_or_profit = Sum("loss_profit")))

In [98]:
df

   user__id   user_id  user_id__wallet__amount  loss_or_profit
0         1   fairbet                   9500.0           -20.0
1         5  Minkyaa6                  10000.0             0.0

In [ ]:
update_wallet_instance = [Wallet(
    user_id = value.get("vendor_id",""),
    amount = value.get("product_id",""),
    ) for key,value in wallet_dict.items()]
Wallet.objects.bulk_update_or_create(update_wallet_instance,['user_id','amount'],match_field=['user_id'])

In [95]:
bet = read_frame(Betting.objects.filter(match=matchName).values("user__id","user","amount","bet_on_team","status","odds","winning_team","loss_profit","match"))

In [ ]:
update_wallet_instance = [Wallet(
    user_id = value.get("vendor_id",""),
    amount = value.get("product_id",""),
    ) for key,value in colour_dict.items()]
Wallet.objects.bulk_update_or_create(update_wallet_instance,['user_id','amount'],match_field=['user_id'])

In [131]:
bettings = Betting.objects.filter(loss_profit__gt=0)

In [132]:
bettings

In [40]:
df = read_frame(Betting.objects.filter(match=matchName).values("user__id","user","amount","bet_on_team","status","odds","winning_team","loss_profit","match"))

In [48]:
new_df = df.groupby('user')['loss_profit'].sum()

In [54]:
df.groupby('user')['loss_profit'].transform('sum')

0   -20.0
1   -20.0
2   -20.0
3   -20.0
Name: loss_profit, dtype: float64

In [49]:
new_df.reset_index(drop=True,inplace=True)

In [50]:
new_df

0   -20.0
Name: loss_profit, dtype: float64

In [38]:
bett = Betting.objects.filter(user_id=1).aggregate(Sum(F('loss_profit')))

In [39]:
bett

{'loss_profit__sum': -20.0}

In [25]:
wallet_df = read_frame(Wallet.objects)

,id,user,amount,bet_on_team,status,odds,winning_team,loss_profit,match,created_at,updated_at
0,16,fairbet,1000.0,England,BACK,1.50,England,500.0,England vs India,2022-07-06 06:20:16.207060+00:00,2022-07-06 10:31:52.837866+00:00
1,17,fairbet,1000.0,England,LAY,1.52,England,-520.0,England vs India,2022-07-06 06:23:12.963245+00:00,2022-07-06 10:31:56.493455+00:00
2,21,fairbet,1000.0,India,BACK,1.55,England,-1000.0,England vs India,2022-07-06 10:33:05.626427+00:00,2022-07-06 10:33:31.403796+00:00
3,22,fairbet,1000.0,India,LAY,1.56,England,1000.0,England vs India,2022-07-06 10:33:16.385601+00:00,2022-07-06 10:33:44.568271+00:00

In [68]:
user_df = read_frame(Betting.objects.all().values("user__id","user","amount","bet_on_team","status","odds","winning_team","loss_profit","match"))

In [69]:
user_df

,user__id,user,amount,bet_on_team,status,odds,winning_team,loss_profit,match
0,1,fairbet,1000.0,England,BACK,1.50,England,500.0,England vs India
1,1,fairbet,1000.0,England,LAY,1.52,England,-520.0,England vs India
2,1,fairbet,1000.0,India,BACK,1.55,England,-1000.0,England vs India
3,1,fairbet,1000.0,India,LAY,1.56,England,1000.0,England vs India